$timelineImageWidth: 128px;
$timelineImageHeight: 72px;

.imageContainer{
    position:relative;
    overflow:hidden;
    width:$timelineImageWidth;
    height:$timelineImageHeight;
    margin: auto;
}

.imageContainer img {
    position:absolute;
    height:$timelineImageHeight;
}

.imageContainer .watermark {
    left: 0px;
    bottom: 0px;
    width: $timelineImageWidth;
    height: auto;
}

.progress .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}