$timelineImageWidth: 128px;
$timelineImageHeight: 72px;

.imageContainer img {
    position:absolute;
    top:0;
}

.imageContainer{
    position:relative;
    overflow:hidden;
    width:$timelineImageWidth;
    height:$timelineImageHeight;
    margin: auto;
}

.imageContainer img {
    height:$timelineImageHeight;
}

.progress .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}