<app-breadcrumb [links]="[{display:'My Library', path:'myLibrary', icon:'collection-fill' }]"></app-breadcrumb>
<div class="container">
    <h1><i class="bi bi-collection-fill text-primary"></i> My Library</h1>
    <p class="lead">My Library allows you to see dependencies and to remove videos and clips.
    </p>
    <app-pageloading [pageLoading]="pageLoading"></app-pageloading>
    <ng-container *ngIf="!pageLoading">
        <ng-container *ngIf="this.videos.length > 0">
            <h2>Videos</h2>
            <p>Videos have no dependencies so you can delete these without worrying what uses
                them.</p>
            <div class="mb-3">
                <div class="row">
                    <div *ngFor="let video of videos" class="col-sm mb-3">
                        <app-galleryvideo [video]="video" [showEdit]="false" [showRemove]="true"
                            [clips]="clips" (buttonClickEvent)="removeVideo($event)" [loading]="loading"
                            [collections]="collections">
                        </app-galleryvideo>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="this.dependentClips.length > 0">
            <h2>Dependent Clips</h2>
            <p>These clips have dependencies on videos. The links below the clip go to the videos that use it. You must
                remove the clip from all videos to make it independent and then you can remove it.</p>
            <div class="mb-3">
                <div class="row">
                    <div *ngFor="let dependentClip of dependentClips; let i = index" class="col-sm mb-3">
                        <app-galleryplayer [clip]="dependentClip.clip" [showAdd]="false" [showEdit]="false"
                            [showRemove]="false" [collections]="collections"
                            [dependentVideos]="dependentClip.videos"></app-galleryplayer>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="this.independentClips.length > 0">
            <h2>Independent Clips</h2>
            <p>Independent clips have no dependencies so you can delete these without worrying what uses them.</p>
            <div class="mb-3">
                <div class="row">
                    <div *ngFor="let independentClip of independentClips; let i = index" class="col-sm mb-3">
                        <app-galleryplayer [clip]="independentClip" [showAdd]="false" [showEdit]="false"
                            [collections]="collections" [showRemove]="true" [loading]="loading"
                            (removeButtonClickClipEvent)="removeClip($event)"></app-galleryplayer>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>