<app-breadcrumb [links]="[{display:'My Library', path:'myLibrary', icon:'collection-fill' }]"></app-breadcrumb>
<div class="container">
    <h1><i class="bi bi-collection-fill text-primary"></i> My Library</h1>
    <p class="lead">My Library is the place to go to remove videos, clips and layers.
    </p>
    <app-pageloading [pageLoading]="pageLoading"></app-pageloading>
    <ng-container *ngIf="!pageLoading">
        <ng-container *ngIf="this.completeBuildAssets.length > 0">
            <h2>Video Files</h2>
            <p>Here are your built video files to download.</p>
            <div class="list-group mb-3">
                <a *ngFor="let buildAsset of this.completeBuildAssets" [href]="buildAsset.downloadLink"
                    class="list-group-item list-group-item-action"><h5>{{getFormattedDateTime(buildAsset.dateCreated)}} -
                    {{buildAsset.videoName}}.{{Formats[buildAsset.format]}} - Resolution: {{displayResolution(buildAsset.resolution)}} - Licence: {{Licences[buildAsset.license]}}<i class="bi bi-download text-primary float-end"></i></h5></a>
            </div>
        </ng-container>
        <ng-container *ngIf="this.buildingVideos.length > 0">
            <h2>Building Videos</h2>
            <p>These videos are currently building.  You have to wait for the build to complete before you build the same video again or delete.</p>
            <div class="mb-3">
                <div class="row">
                    <div *ngFor="let buildingVideo of buildingVideos; let i = index" class="col-sm mb-3">
                        <app-galleryvideo [video]="buildingVideo" [showEdit]="false"
                            [showRemove]="false"></app-galleryvideo>
                        <div class="list-group text-center">
                            <a class="list-group-item"
                                [routerLink]="['/musicVideoBuilder', buildingVideo.videoId]" [queryParams]="{tab: 2}">Go to
                                {{buildingVideo.videoName}} video timeline</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="this.videos.length > 0">
            <h2>Videos</h2>
            <p>Videos that are not building have no dependencies so you can delete these without worrying what uses them.</p>
            <div class="mb-3">
                <div class="row">
                    <div *ngFor="let notBuildingVideo of notBuildingVideos" class="col-sm mb-3">
                        <app-galleryvideo [video]="notBuildingVideo" [showEdit]="false" [showRemove]="true"
                            (buttonClickEvent)="removeVideo($event)" [loading]="loading">
                        </app-galleryvideo>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="this.dependentClips.length > 0">
            <h2>Dependent Clips</h2>
            <p>These clips have dependencies on videos. The links below the clip go to the videos that use it. You must
                remove the clip from all videos to make it independent and then you can remove it.</p>
            <div class="mb-3">
                <div class="row">
                    <div *ngFor="let dependentClip of dependentClips; let i = index" class="col-sm mb-3">
                        <app-galleryplayer [clip]="dependentClip.clip" [showAdd]="false" [showEdit]="false"
                            [showRemove]="false"></app-galleryplayer>
                        <div class="list-group text-center">
                            <a *ngFor="let video of dependentClip.videos" class="list-group-item"
                                [routerLink]="['/musicVideoBuilder', video.videoId]" [queryParams]="{tab: 2}">Go to
                                {{video.videoName}} video timeline</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="this.independentClips.length > 0">
            <h2>Independent Clips</h2>
            <p>Independent clips have no dependencies so you can delete these without worrying what uses them.</p>
            <div class="mb-3">
                <div class="row">
                    <div *ngFor="let independentClip of independentClips; let i = index" class="col-sm mb-3">
                        <app-galleryplayer [clip]="independentClip" [showAdd]="false" [showEdit]="false"
                            [showRemove]="true" (removeButtonClickClipEvent)="removeClip($event)"></app-galleryplayer>
                    </div>
                </div>
            </div>
        </ng-container>        
    </ng-container>
</div>