<div class="mb-3">
    <div class="card text-center">
        <div class="imageContainer" [style.background-color]="clips[playingClipIndex].backgroundColour !== null ? '#' + clips[playingClipIndex].backgroundColour : 'black'">
            <ng-container *ngFor="let clipDisplayLayer of clips[playingClipIndex].clipDisplayLayers; let i = index">
                <ng-container *ngFor="let layerloop of getLayers(clipDisplayLayer)">
            <img 
                [src]="storageUrl + '/' + layerloop.layerId + '/sprite.png'"
                [alt]="layerloop.layerId" 
                [style.left.px]="leftPosition" 
                [style.z-index]="i + (layerloop.isOverlay === true ? 0 : 1)"
                [style.mix-blend-mode]="layerloop.isOverlay === true ? 'normal' : 'screen'"
                [style.filter]="'url(\'#' + i + '-' + clips[playingClipIndex].clipId + layerloop.layerId + '\')'"
                crossorigin="anonymous"/>
                <svg xmlns="http://www.w3.org/2000/svg">
                    <filter
                        [id]="i + '-' + clips[playingClipIndex].clipId + layerloop.layerId">
                        <feColorMatrix type="matrix"
                            [attr.values]="toColourMatrix(getColour(layerloop, clips[playingClipIndex]))">
                        </feColorMatrix>
                    </filter>
                </svg>
            </ng-container>
            </ng-container>
            <img [src]="storageUrl + '/custom-pages/watermark.png'" class="watermark" crossorigin="anonymous"/>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span [ngbTooltip]="'Set player to start.'">
                    <button type="button" class="btn btn-info me-1" (click)="setSelectedClipIndex(0)"
                        [disabled]="0 === this.selectedClipIndex">
                        <i class="bi bi-skip-start-fill"></i>
                        <i class="bi bi-bookmark-star-fill"></i></button>
                </span>
                <button type="button" class="btn btn-outline-secondary me-1" (click)="togglePlay()"><i
                        [ngClass]="isPlaying ? 'bi bi-stop-fill' : 'bi bi-play-fill'"></i></button>
            </li>
            <li class="list-group-item">
                {{displayCurrentTime}} / {{displayEndOfVideoTime}}
            </li>
            <li class="list-group-item">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                        [style.width.%]="progress">
                    </div>                    
                </div>
            </li>
        </ul>
    </div>
</div>