<div class="mb-3">
    <div class="card text-center">
        <div class="imageContainer" [style.background-color]="video.clips[playingClipIndex].backgroundColour !== null ? '#' + video.clips[playingClipIndex].backgroundColour : 'none'">
            <img *ngFor="let layerloop of video.clips[playingClipIndex].userLayers; let i = index"
                [src]="storageUrl + '/sprites/' + layerloop.layerId + '.png'"
                [alt]="layerloop.layerName" [style.left.px]="leftPosition" [style.z-index]="i" />

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span [ngbTooltip]="'Set player to start.'">
                    <button type="button" class="btn btn-info me-1" (click)="setSelectedClipIndex(0)"
                        [disabled]="0 === this.selectedClipIndex">
                        <i class="bi bi-skip-start-fill"></i>
                        <i class="bi bi-bookmark-star-fill"></i></button>
                </span>
                <button type="button" class="btn btn-outline-secondary me-1" (click)="togglePlay()"><i
                        [ngClass]="isPlaying ? 'bi bi-stop-fill' : 'bi bi-play-fill'"></i></button>
            </li>
            <li class="list-group-item">
                {{displayCurrentTime}} / {{displayEndOfVideoTime}}
            </li>
            <li class="list-group-item">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                        [style.width.%]="progress">
                    </div>                    
                </div>
            </li>
        </ul>
    </div>
</div>