<div class="row">
    <div class="col">
        <div class="card">
            <div class="text-center text-primary">
                <i class='big-icon bi bi-tv'></i>
            </div>
            <div class="text-center">
                <h5 class="card-title">Free</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">384 x 216 pixels</li>
            </ul>
            <div class="card-body">
                <p>This is our free offering to give you a taste of what could be made.  This will not look good on large screens.  It will come with our watermark.  This is not to be used outside personal use.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="text-center text-primary">
                <i class='big-icon bi bi-badge-hd-fill'></i>
            </div>
            <div class="text-center">
                <h5 class="card-title">HD</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">1920 x 1080 pixels</li>
            </ul>
            <div class="card-body">
                <p>Our high definition offering.  There will be no watermarking and has various lcensing options to suit your commercial needs. This is a cheaper option that will be good enough for scenarios where you don't need 4k such as for youtube content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="text-center text-primary">
                <i class='big-icon bi bi-badge-4k-fill'></i>
            </div>
            <div class="text-center">
                <h5 class="card-title">4k</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">3840 x 2160 pixels</li>
            </ul>
            <div class="card-body">
                <p>Our 4K offering.  There will be no watermarking and has various lcensing options to suit your commercial needs.  This is our most detailed resolution and will look the best on large screens or projectors.</p><p>If you need a higher resolution then please <a href="mailto:info@musicvideobuilder.com"><i class="bi bi-envelope-fill"></i>Contact us</a> and we'll see what we can do.</p>
            </div>
        </div>
    </div>
</div>
