<div class="row">
    <div class="col">
        <div class="card">
            <div class="text-center text-primary">
                <i class='big-icon bi bi-tv'></i>
            </div>
            <div class="text-center">
                <h5 class="card-title">Test</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">384 x 216 pixels</li>
            </ul>
            <div class="card-body">
                <p>This is our test offering to check if you can build locally.  This will not look good on large screens.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="text-center text-primary">
                <i class='big-icon bi bi-badge-hd-fill'></i>
            </div>
            <div class="text-center">
                <h5 class="card-title">HD</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">1920 x 1080 pixels</li>
            </ul>
            <div class="card-body">
                <p>Our high definition offering.  This is a medium sized option that will be good enough for scenarios where you don't need 4k such as for youtube content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="text-center text-primary">
                <i class='big-icon bi bi-badge-4k-fill'></i>
            </div>
            <div class="text-center">
                <h5 class="card-title">4k</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">3840 x 2160 pixels</li>
            </ul>
            <div class="card-body">
                <p>Our 4K offering.  This is our most detailed resolution and will look the best on large screens or projectors.</p><p>If you need a higher resolution then please <a href="mailto:info@musicvideobuilder.com"><i class="bi bi-envelope-fill"></i>Contact us</a> and we'll see what we can do.</p>
            </div>
        </div>
    </div>
</div>
