$freeImageWidth: 384px;
// $freeImageHeight: 216px;
$galleryImageWidth: 192px;
$imageHeight: 108px;

.imageContainer{
    position:relative;
    overflow:hidden;
    width:$freeImageWidth;
    height:$imageHeight;
    margin: auto;
}

.imageContainer img {
    position:absolute;
    top:0;
    height:$imageHeight;
}