$freeImageWidth: 384px;
$galleryImageWidth: 192px;
$imageHeight: 108px;

.imageContainer{
    position:relative;
    width:$freeImageWidth;
    height:$imageHeight;
    margin: auto;
}

.imageContainer div {
    position:absolute;
    top:0;
    height:$imageHeight;
    width: $galleryImageWidth;
    overflow:hidden;
}

.imageContainer img {
    position:absolute;
    height:$imageHeight;
    left: 0;
}