$freeImageWidth: 384px;
$galleryImageWidth: 192px;
$imageHeight: 108px;

.imageContainer{
    position:relative;
    width:$freeImageWidth;
    height:$imageHeight;
    margin: auto;
}

.imageContainer div {
    position:absolute;
    height:$imageHeight;
    width: $galleryImageWidth;
    overflow:hidden;
}

.imageContainer img {
    position:absolute;
    height:$imageHeight;
    left: 0;
}

.imageContainer .watermark {
    width: $galleryImageWidth;
    height: auto;
    bottom: 0px;
    z-index: 100;
}