$freeImageWidth: 384px;
$freeImageHeight: 216px;

.imageContainer{
    position:relative;
    overflow:hidden;
    width:$freeImageWidth;
    height:$freeImageHeight;
    margin: auto;
}

.imageContainer img {
    position:absolute;
}

.imageContainer .watermark {
    left: 0px;
    bottom: 0px;
    z-index: 100;
}

.progress .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}