<div class="card text-center">
    <div class="imageContainer" [style.background-color]="clip && clip.backgroundColour !== null ? '#' + clip.backgroundColour : 'none'">
        <img [src]="storageUrl + '/' + layer.layerId + '/sprite.png'"
            [alt]="layer.layerName" [style.left.px]="leftPosition" *ngIf="layer" crossorigin="anonymous"/>
        <ng-container *ngIf="clip && clip.layers?.length ?? 0 > 0">
            <img *ngFor="let layerloop of clip.layers; let i = index"
                [src]="storageUrl + '/' + layerloop.layerId + '/sprite.png'"
                [alt]="layerloop.layerName" [style.left.px]="leftPosition" [style.z-index]="i" crossorigin="anonymous"/>
        </ng-container>
        <img [src]="storageUrl + '/custom-pages/watermark.png'" class="watermark" crossorigin="anonymous"/>
    </div>
    <div class="card-header" *ngIf="playerTitle !== ''">
        <h5 class="card-title">{{ playerTitle }}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="togglePlay()"><i
                    [ngClass]="localIsPlaying ? 'bi bi-stop-fill' : 'bi bi-play-fill'"></i></button></li>
        <li class="list-group-item">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                    [style.width.%]="progress"></div>
            </div>
        </li>
        <li class="list-group-item" [ngbTooltip]="disableTooltipFunction(layer)" placement="top"
            *ngIf="showAdd || showEdit || showRemove">
            <button type="button" [disabled]="disableFunction(layer)" (click)="addButtonClick()" class="btn btn-success"
                *ngIf="showAdd">
                <i class="bi bi-plus-circle-fill"></i> Add</button>
            <button type="button" [disabled]="disableFunction(layer)" (click)="editButtonClick()"
                class="btn btn-primary" *ngIf="showEdit">
                <i class="bi bi-pencil-square"></i> Edit</button>
            <button type="button" [disabled]="disableFunction(layer)" (click)="removeButtonClick()"
                class="btn btn-danger" *ngIf="showRemove">
                <i class="bi bi-dash-circle-fill"></i> Remove</button>
        </li>
    </ul>
</div>