<div class="card text-center">
    <div class="imageContainer">
        <img [src]="'https://cdn.musicvideobuilder.com/' + layer.layerId + '/' + layer.layerId + '.png'"
            [alt]="layer.layerName" [style.left.px]="leftPosition" />
    </div>
    <div class="card-header">
        <h5 class="card-title">{{layer.layerName}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><button type="button" class="btn btn-outline-secondary" (click)="togglePlay()"><i
                    [ngClass]="localIsPlaying ? 'bi bi-stop-fill' : 'bi bi-play-fill'"></i></button></li>
        <li class="list-group-item" [ngbTooltip]="disableTooltipFunction(layer.userLayerStatusId)" placement="top">
            <button type="button" [disabled]="disableFunction(layer)"
                (click)="addButtonClick()" class="btn btn-success">
                <i class="bi bi-plus-circle-fill"></i> Add</button>
        </li>
    </ul>
</div>