<app-breadcrumb [links]="[{display:'Content Browser', path:'contentBrowser', icon:'search' }]"></app-breadcrumb>
<div class="container">
    <h1><i class="bi bi-search text-primary"></i> Content Browser</h1>
    <p class="lead">Content browser allows you to view all content on the site and give ideas for what kind of video you want to create.</p>
    <p>To customise, combine and create transitions you'll need to <a [routerLink]="['/clipBuilder']"><i class="bi bi-stack"></i>build a unique
            clip</a>. You can then use your clips to <a [routerLink]="['/musicVideoBuilder']"><i class="bi bi-hammer"></i>build a video</a>.</p>
    <app-pageloading [pageLoading]="pageLoading"></app-pageloading>
    <ng-container  *ngIf="!pageLoading">
        <app-collectionsearch [collections]="collections" [showEditColour]="true"></app-collectionsearch>
        <div class="mb-3">
            <button type="button" class="btn btn-secondary" [routerLink]="'/clipBuilder'"><i class="bi bi-stack"></i> Clip Builder</button>
        </div>
    </ng-container>
</div>