<div class="row">
    <div class="col">
        <div class="card">
            <div class="text-center text-primary">
                <i class='big-icon bi bi-wifi-off'></i>
            </div>
            <div class="text-center">
                <h5 class="card-title">Personal</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center"><i class="bi bi-tick"></i>Not to be used anywhere</li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="text-center text-primary">
                <i class='big-icon bi bi-wifi-1'></i>
            </div>
            <div class="text-center">
                <h5 class="card-title">Standard</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center"><i class="bi bi-tick"></i>Unlimited use on websites</li>
                <li class="list-group-item text-center"><i class="bi bi-tick"></i>Up to 500,000 audience size on web, social, apps</li>
                <li class="list-group-item text-center"><i class="bi bi-tick"></i>Up to 500,000 impressions on Out of Home advertising</li>
                <li class="list-group-item text-center"><i class="bi bi-tick"></i>Up to 500,000 audience size for live performances</li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="text-center text-primary">
                <i class='big-icon bi bi-wifi'></i>
            </div>
            <div class="text-center">
                <h5 class="card-title">Enhanced</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center"><i class="bi bi-tick"></i>Unlimited use on websites</li>
                <li class="list-group-item text-center"><i class="bi bi-tick"></i>Unlimited distribution on web, social media, apps</li>
                <li class="list-group-item text-center"><i class="bi bi-tick"></i>Unlimited impressions on Out of Home advertising</li>
                <li class="list-group-item text-center"><i class="bi bi-tick"></i>Unlimited audience size for live performances</li>
                <li class="list-group-item text-center"><i class="bi bi-tick"></i>Unlimited distribution on TV, Online Video, Film</li>
                <li class="list-group-item text-center"><i class="bi bi-tick"></i>Unlimited use for digital web templates</li>                </ul>
        </div>
    </div>
</div>