$freeImageWidth: 384px;
$freeImageHeight: 216px;

$timelineImageWidth: 128px;
$timelineImageHeight: 72px;

.imageContainer{
    position:relative;
    overflow:hidden;
    width:$freeImageWidth;
    height:$freeImageHeight;
    margin: auto;
}

.timeLineImageContainer img, .imageContainer img {
    position:absolute;
    top:0;
}

.timeLineImageContainer{
    position:relative;
    overflow:hidden;
    width:$timelineImageWidth;
    height:$timelineImageHeight;
    margin: auto;
}

.timeLineImageContainer img {
    height:$timelineImageHeight;
}