<app-breadcrumb [links]="[{display:'Layer Finder', path:'layerFinder' }, {display:'Clip Composer', path:'clipComposer' }, {display:'Video Composer', path:'videoComposer' }]"></app-breadcrumb>
<div class="container">
    <h1>Video Composer</h1>
    <p class="lead">Video composer allows you to combine clips to either make a new video or edit an existing one.</p>
    <p>Once you create a video you can then use this to <a [routerLink]="['/videoBuilder']">build a video</a>. Use the
        controls below to create or edit your videos</p>
        <ng-container *ngIf="!showEditor && this.videos.length > 0">
            <h2>Videos</h2>
            <div class="mb-3">
                <div class="row">
                    <div *ngFor="let video of videos; let i = index" class="col-sm mb-3">
                        <div class="card text-center">
                            <div class="imageContainer">
                                    <ng-container *ngIf="video.clips?.length ?? 0 > 0">
                                        <img *ngFor="let layerloop of video.clips[0].userLayers; let i = index" [src]="'https://cdn.musicvideobuilder.com/' + layerloop.layerId + '/' + layerloop.layerId + '.png'"
                                        [alt]="layerloop.layerName" [style.left.px]="0" [style.z-index]="i"/>
                                    </ng-container>
                            </div>
                            <h5 class="card-header">{{video.videoName}}.{{Formats[video.format]}}</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">BPM: {{video.bpm}}</li>
                                <li class="list-group-item">
                                    <button type="button"
                                        (click)="editVideo(video)" class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i> Edit</button>
                                    <!-- <button type="button" [disabled]="disableFunction(layer)"
                                        (click)="removeButtonClick()" class="btn btn-danger" *ngIf="showRemove">
                                        <i class="bi bi-dash-circle-fill"></i> Remove</button> -->
                                </li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </ng-container>
</div>

<button (click)="getVid()">Get</button>
<button (click)="saveVid()">Save</button>

{{videos | json}}
