<div class="mb-3" *ngIf="!file">
    <ngb-alert [type]="'warning'" [dismissible]="false"><i
            class="bi bi-exclamation-triangle-fill"></i> No audio file selected, if you
        don't want audio then please continue otherwise add above.
    </ngb-alert>
</div>
<div class="mb-3" *ngIf="isBuilding">
    <ngb-alert [type]="'danger'" [dismissible]="false"><i
            class="bi bi-exclamation-triangle-fill"></i> You are already building this
        video,
        you have to wait for this to finish until
        you
        can build again.
    </ngb-alert>
</div>
<div class="mb-3" *ngIf="isUploadingAudio">
    <label class="form-label">Uploading audio please wait</label>
    <div class="progress">
        <div class="progress-bar progress-bar-animated progress-bar-striped"
            role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
            style="width: 100%">
        </div>
    </div>
</div>