<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand text-primary" [routerLink]="'.'">
              <i class="bi bi-music-note-beamed"></i>
              <i class="bi bi-camera-reels-fill"></i>
              <i class="bi bi-hammer"></i>
              Music Video Builder
          </a>
          <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['layerFinder']" routerLinkActive="active">Layer Finder</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['clipComposer']" routerLinkActive="active">Clip Composer</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['videoComposer']" routerLinkActive="active">Video Composer</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['videoBuilder']" routerLinkActive="active">Video Builder</a>
                  </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['myLayers']" routerLinkActive="active">My Layers</a>
                </li>
                <li class="nav-item" *ngIf="loginDisplay" (click)="logout()">
                    <a class="nav-link text-dark" href="#">Sign out</a>
                </li>
                <li class="nav-item" *ngIf="!loginDisplay" (click)="login()">
                    <a class="nav-link text-dark" href="#">Sign in</a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
</header>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet *ngIf="!isIframe"></router-outlet>
