<app-breadcrumb [links]="[{display:'Layer Finder', path:'layerFinder' }]"></app-breadcrumb>
<div class="container">
    <h1>Layer Finder</h1>
    <p class="lead">Layer finder allows you to add new layers to your layers collection by searching through tags.</p>
    <p>Once a layer is inside your collection you can use them to <a [routerLink]="['/clipComposer']">compose a
            clip</a>. You can then use the clip to <a [routerLink]="['/videoComposer']">compose a video</a>. Use the
        controls below to search through all tags to show layers where you can click add to put inside your layer
        collection.</p>
    <div class="mb-3">
        <label class="form-label">Popular Tags</label>
        <div>
            <ng-container *ngFor="let popularTag of popularTags">
                <button type="button" class="btn btn-outline-success" (click)="addTag(popularTag.tagName)">
                    <i class="bi bi-plus-circle-fill"></i> {{popularTag.tagName}} <span
                        class="badge bg-secondary">{{popularTag.count}}</span>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="mb-3">
        <label for="layerType" class="form-label">Layer Types</label>
        <select id="layerType" [(ngModel)]="layerType" class="form-control" (change)="layerTypeChange()">
            <option [ngValue]="lt" *ngFor="let lt of layerTypeList">
                {{Layertypes[lt]}}
            </option>
        </select>
    </div>
    <div class="mb-3">
        <label for="tagSearch" class="form-label">Search Tags</label>

        <input type="text" class="form-control" id="tagSearch" [ngbTypeahead]="search" [inputFormatter]="formatter"
            [resultFormatter]="formatter" [editable]="false" (selectItem)="selectItem($event)"
            [disabled]="disableSearch" [(ngModel)]="typeAheadValue" />
        <div class="form-text">Type and use the select list to search for layers.</div>
        <ng-container *ngFor="let selectedTag of selectedTags">
            <button type="button" class="btn btn-outline-danger" (click)="removeSelectedTag(selectedTag)">
                <i class="bi bi-x-circle-fill"></i> {{selectedTag}}
            </button>
        </ng-container>
    </div>
</div>
<div class="container" *ngIf="selectedLayers.length > 0">
    <h2>Layers</h2>
    <app-bpmcontrol (bpmEvent)="setBpm($event)" (isPlayingEvent)="setIsPlaying($event)"></app-bpmcontrol>
    <div class="row">
        <div *ngFor="let layer of selectedLayers; let i = index" class="col-sm mb-3">
            <app-galleryplayer [layer]="layer" (addButtonClickEvent)="addUserLayer($event)" [bpm]="bpm"
                [isPlaying]="isPlaying" [disableFunction]="disableLayer" [disableTooltipFunction]="disableLayerTooltip">
            </app-galleryplayer>
        </div>
    </div>
</div>