<app-breadcrumb [links]="[{display:'Layer Finder', path:'layerFinder' }]"></app-breadcrumb>
<div class="container">
    <div class="mb-3">
        <label class="form-label">Popular Tags</label>
        <div>
            <ng-container *ngFor="let popularTag of popularTags">
                <button type="button" class="btn btn-outline-success" (click)="addTag(popularTag.tagName)">
                    <i class="bi bi-plus-circle-fill"></i> {{popularTag.tagName}} <span
                        class="badge bg-secondary">{{popularTag.count}}</span>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="mb-3">
        <label for="layerType" class="form-label">Layer Types</label>
        <select id="layerType" [(ngModel)]="layerType" class="form-control" (change)="layerTypeChange()">
            <option [ngValue]="lt.id" *ngFor="let lt of layerTypeList">
                {{lt.name}}
            </option>
        </select>
    </div>
    <div class="mb-3">
        <label for="tagSearch" class="form-label">Search Tags</label>

        <input type="text" class="form-control" id="tagSearch" [ngbTypeahead]="search" [inputFormatter]="formatter"
            [resultFormatter]="formatter" [editable]="false" (selectItem)="selectItem($event)"
            [disabled]="disableSearch" [(ngModel)]="typeAheadValue" />
        <div class="form-text">Type and use the select list to search for layers.</div>
        <ng-container *ngFor="let selectedTag of selectedTags">
            <button type="button" class="btn btn-outline-danger" (click)="removeSelectedTag(selectedTag)">
                <i class="bi bi-x-circle-fill"></i> {{selectedTag}}
            </button>
        </ng-container>
    </div>
</div>
<div class="container" *ngIf="selectedLayers.length > 0">
    <div class="mb-3">
        <label for="globalBpm" class="form-label">Video BPM (playback speed)</label>
        <div class="input-group">
            <button type="button" class="btn btn-outline-secondary" (click)="togglePlay()" >
                <i [ngClass]="isPlaying ? 'bi bi-stop-fill' : 'bi bi-play-fill'"></i> all layers</button>
            <input type="number" class="form-control" min="90" max="250" step="1" id="globalBpm" [(ngModel)]="bpm"
                required #bpmControl="ngModel"/>
            <span class="input-group-text">{{bpm}} beats per minute</span>
        </div>
        <div class="form-text text-danger"
            *ngIf="bpmControl.invalid">
            <div [hidden]="!bpmControl?.errors?.['required']">
                BPM is required.
            </div>
            <div [hidden]="!bpmControl?.errors?.['min']">
                BPM must be over 90.
            </div>    
            <div [hidden]="!bpmControl?.errors?.['max']">
                BPM must be under 250
            </div>         
        </div>
    </div>
    <div class="row" >
        <div *ngFor="let layer of selectedLayers; let i = index" class="col-sm mb-3">
            <div class="card text-center">
                <app-galleryplayer [layer]="layer" (addButtonClickEvent)="addUserLayer($event)" [bpm]="bpm" [isPlaying]="isPlaying">
                </app-galleryplayer>
            </div>
        </div>
    </div>
</div>