<div class="container">
    <form [formGroup]="layerUploadForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="layerName" class="form-label">Layer Name</label>
            <input type="text" class="form-control" id="layerName" formControlName="layerName" />
            <div class="form-text">Try to pick something short. Has to be Alpha Numeric.</div>
            <div class="form-text text-danger" *ngIf="layerName?.invalid  && (layerName?.dirty || layerName?.touched)">
                <div [hidden]="!layerName?.errors?.['required']">
                    Layer Name is required.
                </div>
                <div [hidden]="!layerName?.errors?.['maxlength']">
                    Layer Name max length is 50 characters.
                </div>
                <div [hidden]="!layerName?.errors?.['pattern']">
                    Layer Name must be alpha numeric.
                </div>
            </div>
        </div>
        <app-layertypecontrol [form]="layerUploadForm"></app-layertypecontrol>
        <div class="mb-3">
            <label for="layerExistingTags" class="form-label">Existing Tags</label>

            <input type="text" class="form-control" id="layerExistingTags" formControlName="existingTagInput"
                [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]="false"
                (selectItem)="selectItem($event)" />
            <div class="form-text">Type and use the select list to add an existing tag</div>
        </div>

        <div class="mb-3">
            <label for="layerNewTags" class="form-label">New Tags</label>

            <input type="text" class="form-control" id="layerNewTags" formControlName="newTagInput"
                (keydown.enter)="onNewTagKeydown($event)" />
            <div class="form-text">Type and hit enter to create a new tag</div>
            <div class="form-text text-danger"
                *ngIf="newTagInput?.invalid  && (newTagInput?.dirty || newTagInput?.touched)">
                <div [hidden]="!newTagInput?.errors?.['maxlength']">
                    Tag max length is 20 characters.
                </div>
                <div [hidden]="!newTagInput?.errors?.['pattern']">
                    Tag must be alpha numeric.
                </div>
                <div [hidden]="!newTagInput?.errors?.['forbiddenTagName']">
                    Tag exists please use enter in existing tags.
                </div>
            </div>           

            <ng-container formArrayName="existingTags">
                <ng-container *ngFor="let existingTagForm of existingTags.controls; let i = index" [formGroupName]="i">
                    <span [ngClass]="existingTagForm.get('tagId')?.value !== 0 ? 'badge bg-primary' : 'badge bg-success'">{{existingTagForm.get('tagName')?.value}}<i
                            class="bi bi-x-circle-fill" (click)="removeExistingTag(i)"></i></span>
                </ng-container>
            </ng-container>
            
            <div class="form-text text-danger"
                *ngIf="existingTagsFormArray?.invalid  && (newTagInput?.dirty || newTagInput?.touched || existingTagInput?.dirty || existingTagInput?.touched)">
                <div [hidden]="!existingTagsFormArray?.errors?.['required']">
                    You must have tags.  Please use existing or create new ones.
                </div>
                <div [hidden]="!existingTagsFormArray?.errors?.['minlength']">
                    You must have atleast 5 tags.
                </div>
                <div [hidden]="!existingTagsFormArray?.errors?.['maxlength']">
                    You have too many tags.  The maximum is 15.
                </div>
            </div>
        </div>



        <button type="submit" [disabled]="layerUploadForm.invalid" class="btn btn-primary">Submit</button>
    </form>

</div>