<!-- <div class="container">
    <form [formGroup]="layerUploadForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="layerName" class="form-label">Layer Name</label>
            <input type="text" class="form-control" id="layerName" formControlName="layerName" />
            <div class="form-text">Try to pick something short. Has to be Alpha Numeric.</div>
            <div class="form-text text-danger" *ngIf="layerName?.invalid  && (layerName?.dirty || layerName?.touched)">
                <div [hidden]="!layerName?.errors?.['required']">
                    Layer Name is required.
                </div>
                <div [hidden]="!layerName?.errors?.['maxlength']">
                    Layer Name max length is 50 characters.
                </div>
                <div [hidden]="!layerName?.errors?.['pattern']">
                    Layer Name must be alpha numeric.
                </div>
            </div>
        </div>
        <app-layertypecontrol [form]="layerUploadForm"></app-layertypecontrol>
        <div class="mb-3">
            <label for="layerExistingTags" class="form-label">Existing Tags</label>

            <input type="text" class="form-control" id="layerExistingTags" formControlName="existingTagInput"
                [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]="false"
                (selectItem)="selectItem($event)" />
            <div class="form-text">Type and use the select list to add an existing tag.</div>
        </div>

        <div class="mb-3">
            <label for="layerNewTags" class="form-label">New Tags</label>

            <input type="text" class="form-control" id="layerNewTags" formControlName="newTagInput"
                (keydown.enter)="onNewTagKeydown($event)" />
            <div class="form-text">Type and hit enter to create a new tag.</div>
            <div class="form-text text-danger"
                *ngIf="newTagInput?.invalid  && (newTagInput?.dirty || newTagInput?.touched)">
                <div [hidden]="!newTagInput?.errors?.['maxlength']">
                    Tag max length is 20 characters.
                </div>
                <div [hidden]="!newTagInput?.errors?.['pattern']">
                    Tag must be alpha numeric.
                </div>
                <div [hidden]="!newTagInput?.errors?.['forbiddenTagName']">
                    Tag exists please use enter in existing tags.
                </div>
            </div>

            <ng-container formArrayName="existingTags">
                <ng-container *ngFor="let existingTagForm of existingTags.controls; let i = index" [formGroupName]="i">
                    <button type="button" [ngClass]="existingTagForm.get('tagId')?.value !== 0 ? 'btn btn-outline-primary btn-sm' : 'btn btn-outline-success btn-sm'" 
                    (click)="removeExistingTag(i)" [disabled]="disableOtherControls" >
                        {{existingTagForm.get('tagName')?.value}}<i class="bi bi-x-circle-fill"></i>
                    </button>
                </ng-container>
            </ng-container>

            <div class="form-text text-danger"
                *ngIf="existingTagsFormArray?.invalid  && (newTagInput?.dirty || newTagInput?.touched || existingTagInput?.dirty || existingTagInput?.touched)">
                <div [hidden]="!existingTagsFormArray?.errors?.['required']">
                    You must have tags. Please use existing or create new ones.
                </div>
                <div [hidden]="!existingTagsFormArray?.errors?.['minlength']">
                    You must have atleast 5 tags.
                </div>
                <div [hidden]="!existingTagsFormArray?.errors?.['maxlength']">
                    You have too many tags. The maximum is 15.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="layerImages" class="form-label">Images</label>
            <input class="form-control" type="file" id="layerImages" multiple accept="image/png"
                (change)="onFileUpload($event)" [disabled]="disableOtherControls" />
            <div id="LayerImagesHelp" class="form-text">
                You must select 64 images. The filenames must be numbered 1 through
                to 64.
            </div>
            <div class="form-text text-danger" *ngIf="layerFiles?.invalid">
                <div [hidden]="!layerFiles?.errors?.['required']">
                    You must select images.
                </div>
                <div [hidden]="!layerFiles?.errors?.['minlength']">
                    You must have {{numberOfImages}} images.
                </div>
                <div [hidden]="!layerFiles?.errors?.['forbiddenImageSize']">
                    Maximum size for all images is {{maxFileSizeMB}} MB these files are {{layerFiles?.errors?.['forbiddenImageSize']?.value}} MB
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Image Validation Progress</label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="64"
                    [style.width]="imageValidationProgress + '%'"></div>
            </div>
            <ng-container formArrayName="layerFiles">
                <ng-container *ngFor="let layerFileForm of layerFiles.controls; let i = index">
                    <div class="form-text text-danger" *ngIf="layerFileForm?.invalid">
                        <div [hidden]="!layerFileForm?.get('imageName')?.errors?.['pattern']">
                            File {{layerFileForm?.get('imageName')?.value}} must have file extension .png.
                        </div>
                        <div [hidden]="!layerFileForm?.get('imageName')?.errors?.['forbiddenImageNumberName']">
                            File {{layerFileForm?.get('imageName')?.value}} must end with a number.
                        </div>
                        <div [hidden]="!layerFileForm?.get('image')?.errors?.['forbiddenImageWidth']">
                            File {{layerFileForm?.get('imageName')?.value}} is {{layerFileForm?.get('image')?.errors?.['forbiddenImageWidth']?.value}} pixels wide when it should be {{imageWidth}}.
                        </div>
                        <div [hidden]="!layerFileForm?.get('image')?.errors?.['forbiddenImageHeight']">
                            File {{layerFileForm?.get('imageName')?.value}} is {{layerFileForm?.get('image')?.errors?.['forbiddenImageHeight']?.value}} pixels high when it should be {{imageWidth}}.
                        </div>
                        <div [hidden]="!layerFileForm?.get('image')?.errors?.['forbiddenImageTransparency']">
                            File {{layerFileForm?.get('imageName')?.value}} {{layerFileForm?.get('image')?.errors?.['forbiddenImageTransparency']?.value ? 'should' : 'should not'}} have transparency.
                        </div>
                        <div [hidden]="!layerFileForm?.get('image')?.errors?.['forbiddenImageUnknown']">
                            File {{layerFileForm?.get('imageName')?.value}} is not recognised as a file or it is not of type image/png
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>

        <button type="submit" [disabled]="!layerUploadForm.valid" class="btn btn-primary mb-3">Submit</button>

        <div class="mb-3">
            <label class="form-label">Sending Layer</label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                    [style.width]="serverProgress + '%'"></div>
            </div>
        </div>
    </form>

</div> -->