<app-breadcrumb [links]="[{display:'Confirmation', path:'subscriptionConfirmation', icon:'check-circle-fill' }]">
</app-breadcrumb>
<div class="container">
    <app-pageloading [pageLoading]="pageLoading"></app-pageloading>
    <ng-container *ngIf="!pageLoading">
        <ng-container *ngIf="successResponse === true">
            <h1><i class="bi bi-check-circle-fill text-success"></i> Payment confirmed</h1>
            <p class="lead">Your payment is sucessful for your subscription. You can manage your
                subscription on the <a [routerLink]="['/subscriptions']"><i class="text-primary bi bi-repeat"></i>Subscriptions</a> page
            </p>
        </ng-container>
        <ng-container *ngIf="successResponse === false">
            <h1><i class="bi bi-x-circle-fill text-danger"></i> Something went wrong with your payment</h1>
            <p class="lead">Please try again below.
            </p>
            <div id="checkout"></div>
        </ng-container>
    </ng-container>
</div>