<app-breadcrumb
    [links]="[{display:'Confirmation', path:'confirmation', icon:'check-circle-fill' }]">
</app-breadcrumb>
<div class="container" *ngIf="resolution !== null && resolution > 1">
    <h1><i class="bi bi-check-circle-fill text-success"></i> Payment confirmed</h1>
    <p class="lead">Your payment is on hold and will be charged once your video has been created.  You will be emailed a link to your video when it is built. 
    </p>
</div>
<div class="container" *ngIf="resolution === 1">
    <h1><i class="bi bi-check-circle-fill text-success"></i> Build confirmed</h1>
    <p class="lead">You will be emailed a link to your video when it is built. 
    </p>
</div>