<app-breadcrumb [links]="[{display:'Layer Finder', path:'layerFinder' }, {display:'Clip Composer', path:'clipComposer' }, {display:'Video Composer', path:'videoComposer' }, {display:'Video Builder', path:'videoBuilder' }]"></app-breadcrumb>
<div class="container">
    <h1>Video Builder</h1>
    <p class="lead">Video builder allows you to get the resources and <a
        href="https://ffmpeg.org/">FFmpeg</a> input needed to create your videos.</p>
    <p>Please use the free resources to test that your video is exactly as intended and then you can purchase the 4k without watermark version.</p>
</div>