<app-breadcrumb
    [links]="[{display:'Layer Finder', path:'layerFinder', icon:'search' }, {display:'Clip Builder', path:'clipBuilder', icon:'stack'}]">
</app-breadcrumb>
<div class="container">
    <h1><i class="bi bi-stack"></i> Clip Builder</h1>
    <p class="lead">Clip builder allows you to combine layers to either make a new clip or edit an existing one.</p>
    <p>Once you create a clip you can then use this to <a [routerLink]="['/videoBuilder']">compose a video</a>. Use the
        controls below to create or edit your clips</p>
    <app-pageloading [pageLoading]="pageLoading"></app-pageloading>
    <ng-container *ngIf="!pageLoading">
        <app-bpmcontrol (bpmEvent)="setBpm($event)" (isPlayingEvent)="setIsPlaying($event)"></app-bpmcontrol>
        <ng-container *ngIf="!showEditor && this.clips.length > 0">
            <h2>Saved Clips</h2>
            <div class="mb-3">
                <div class="row">
                    <div *ngFor="let clip of clips; let i = index" class="col-sm mb-3">
                        <app-galleryplayer [clip]="clip" [bpm]="bpm" [isPlaying]="isPlaying" [showEdit]="true"
                            [showAdd]="false" (editButtonClickClipEvent)="editClip($event)"></app-galleryplayer>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="!showEditor" class="mb-3">
            <button type="button" class="btn btn-success" (click)="toggleEditor()"><i
                    class="bi bi-plus-circle-fill"></i>
                Add new clip</button>
        </div>
        <ng-container *ngIf="showEditor">
            <h2>Clip Editor</h2>
            <ngb-alert [type]="'warning'" [dismissible]="false" *ngIf="clipId > 0"><i
                    class="bi bi-exclamation-triangle-fill"></i> Editing
                existing clip. Changes here will reflect in existing videos.</ngb-alert>
            <form [formGroup]="clipForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="clipName" class="form-label">Clip Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="clipName" formControlName="clipNameControl" />
                    <div class="form-text">Try to pick something short. Has to be Alpha Numeric and unique across your
                        clips.
                    </div>
                    <div class="form-text text-danger"
                        *ngIf="clipNameControl?.invalid  && (clipNameControl?.dirty || clipNameControl?.touched)">
                        <div [hidden]="!clipNameControl?.errors?.['required']">
                            Clip name is required.
                        </div>
                        <div [hidden]="!clipNameControl?.errors?.['maxlength']">
                            Clip name max length is 50 characters.
                        </div>
                        <div [hidden]="!clipNameControl?.errors?.['pattern']">
                            Clip name must be alpha numeric.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="beatLength" class="form-label">Number Of Beats</label>
                    <select id="beatLength" formControlName="beatLengthControl" class="form-control" (change)="updateStartingBeat()">
                        <option [ngValue]="1">
                            1
                        </option>
                        <option [ngValue]="2">
                            2
                        </option>
                        <option [ngValue]="3">
                            3
                        </option>
                        <option [ngValue]="4">
                            4
                        </option>
                    </select>
                    <div class="form-text">It is highly recommended you leave this setting at 4 beats.
                    </div>
                </div>
                <div class="mb-3" *ngIf="startingBeatOptions.length > 1">
                    <label for="startingBeat" class="form-label">Starting Beat</label>
                    <select id="startingBeat" formControlName="startingBeatControl" class="form-control">
                        <option [ngValue]="startingBeatOption" *ngFor="let startingBeatOption of startingBeatOptions">
                            {{startingBeatOption}}
                        </option>
                    </select>
                </div>
                <div class="mb-3" *ngIf="layersFormArray.length === 0 && backgroundColour === null">
                    <h3>Pick A Background Layer</h3>
                    <p>You can either choose a solid colour background or select from the backgrounds you picked in <a
                            [routerLink]="['/layerFinder']">Layer Finder</a></p>
                    <ngb-alert [type]="'warning'" [dismissible]="false"><i class="bi bi-exclamation-triangle-fill"></i>
                        To be able to save your clip you must have a background layer.</ngb-alert>
                    <div class="mb-3">
                        <label for="backgroundColour" class="form-label">Background Colour</label>
                        <input type="color" class="form-control" id="backgroundColour"
                            formControlName="backgroundColourControl" />
                    </div>
                    <div class="mb-3">
                        <button type="button" (click)="addBackgroundColour(backgroundColourControl.value.substring(1))"
                            class="btn btn-success">
                            <i class="bi bi-plus-circle-fill"></i> Add</button>
                    </div>
                    <div class="row" *ngIf="userBackgrounds.length > 0">
                        <label class="form-label">Background Layer</label>
                        <div *ngFor="let layer of userBackgrounds; let i = index" class="col-sm mb-3">
                            <app-galleryplayer [layer]="layer" (addButtonClickLayerEvent)="addLayer($event)" [bpm]="bpm"
                                [isPlaying]="isPlaying">
                            </app-galleryplayer>
                        </div>
                    </div>
                </div>
                <ng-container
                    *ngIf="(layersFormArray.length > 0 || backgroundColour !== null) && isAddingLayer === false">
                    <div class="mb-3">
                        <h3>Clip Layers</h3>
                        <ol class="list-group list-group-numbered">
                            <li *ngIf="backgroundColour !== null" class="list-group-item">Solid background
                                <i class="bi bi-square-fill" [style.color]="'#' + backgroundColour"></i>
                                <div class="btn-group float-end" role="group">
                                    <button *ngIf="0 === layersFormArray.controls.length" type="button"
                                        class="btn btn-danger ms-1" (click)="removeBackgroundColour()"><i
                                            class="bi bi-dash-circle-fill"></i>
                                        Remove</button>
                                </div>
                            </li>
                            <li *ngFor="let layerControl of layersFormArray.controls; let i = index"
                                class="list-group-item">
                                {{layerControl.value.layerName}}
                                <div class="btn-group float-end" role="group">
                                    <button
                                        *ngIf="i > 0 && layersFormArray.controls[i - 1].value.layerType === Layertypes.Foreground"
                                        type="button" class="btn btn-secondary ms-1" (click)="moveBack(i)"><i
                                            class="bi bi-back"></i> Move Back</button>
                                    <button
                                        *ngIf="i !== layersFormArray.controls.length - 1 && layerControl.value.layerType === Layertypes.Foreground"
                                        type="button" class="btn btn-secondary ms-1" (click)="moveForward(i)"><i
                                            class="bi bi-front"></i> Move
                                        Forward</button>
                                    <button *ngIf="i === layersFormArray.controls.length - 1" type="button"
                                        class="btn btn-danger ms-1" (click)="removeLayer(i)"><i
                                            class="bi bi-dash-circle-fill"></i>
                                        Remove</button>
                                </div>
                            </li>
                        </ol>
                        <div class="form-text text-danger" *ngIf="layersFormArray?.invalid">
                            <div [hidden]="!layersFormArray?.errors?.['maxlength']">
                                You can't have more than 255 layers in a clip.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <span [ngbTooltip]="canAddLayerTooltip()" placement="right">
                            <button type="button" class="btn btn-success" (click)="toggleAddNewLayer()"
                                [disabled]="!canAddLayer()">
                                <i class="bi bi-plus-circle-fill"></i> Add Another Layer</button>
                        </span>
                    </div>
                    <div class="mb-3">
                        <h3>Final Clip Player</h3>
                        <app-galleryplayer [clip]="editorClip" [bpm]="bpm" [isPlaying]="isPlaying" [showAdd]="false">
                        </app-galleryplayer>
                    </div>
                </ng-container>
                <div class="mb-3" *ngIf="isAddingLayer === true">
                    <h3>Pick A Foreground Layer</h3>
                    <p>This layer will be placed on top of all the other layers you have.</p>
                    <div class="row">
                        <div *ngFor="let layer of userForegrounds; let i = index" class="col-sm mb-3">
                            <app-galleryplayer [layer]="layer" (addButtonClickLayerEvent)="addLayer($event)"
                                [disableFunction]="disableLayer" [disableTooltipFunction]="disableLayerTooltip"
                                [bpm]="bpm" [isPlaying]="isPlaying">
                            </app-galleryplayer>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" (click)="toggleAddNewLayer()">
                        <i class="bi bi-dash-circle-fill"></i> Cancel Adding Layer</button>
                </div>
                <div class="mb-3">
                    <button type="submit" [disabled]="!clipForm.valid || saving || noClipChanges()"
                        class="btn btn-primary me-1">Save</button>
                    <button type="button" class="btn btn-danger" (click)="toggleEditor()"><i
                            class="bi bi-dash-circle-fill"></i>
                        Cancel</button>
                </div>
            </form>
        </ng-container>
        <div class="mb-3">
            <button type="button" class="btn btn-secondary" [routerLink]="'/musicVideoBuilder'" [disabled]="!hasClip"><i
                    class="bi bi-arrow-right-circle-fill"></i> Music Video Builder</button>
        </div>
    </ng-container>
</div>