<app-breadcrumb
    [links]="[{display:'Layer Finder', path:'layerFinder' }, {display:'Clip Composer', path:'clipComposer' }]">
</app-breadcrumb>
<div class="container">
    <h1>Clip Composer</h1>
    <p class="lead">Clip composer allows you to combine layers to either make a new clip or edit an existing one.</p>
    <p>Once you create a clip you can then use this to <a [routerLink]="['/videoComposer']">compose a video</a>. Use the
        controls below to create or edit your clips</p>
    <app-bpmcontrol (bpmEvent)="setBpm($event)" (isPlayingEvent)="setIsPlaying($event)"></app-bpmcontrol>
    <ng-container *ngIf="!showEditor && this.clips.length > 0">
        <h2>Clips</h2>
        <div class="mb-3">
            <div class="row">
                <div *ngFor="let clip of clips; let i = index" class="col-sm mb-3">
                    <app-galleryplayer [clip]="clip" [bpm]="bpm" [isPlaying]="isPlaying" [showEdit]="true"
                        [showAdd]="false" (editButtonClickEvent)="editClip($event)"></app-galleryplayer>
                </div>
            </div>
        </div>
    </ng-container>
    <span [ngbTooltip]="canAddLayerTooltip()" placement="right" *ngIf="!showEditor">
        <button type="button" class="btn btn-success" (click)="toggleEditor()" 
            [disabled]="!canAddLayer()"><i class="bi bi-dash-circle-fill"></i>
            Add new clip</button>
    </span>
    <ng-container *ngIf="showEditor">
        <h2>Clip Editor</h2>
        <ngb-alert [type]="'warning'" (closed)="closeWarning()" *ngIf="showExistingClipWarning && clipId > 0">Editing existing clip.  Changes here will reflect in existing videos.</ngb-alert>
        <form [formGroup]="clipForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="clipName" class="form-label">Clip Name</label>
                <input type="text" class="form-control" id="clipName" formControlName="clipNameControl" />
                <div class="form-text">Try to pick something short. Has to be Alpha Numeric and unique across your
                    clips.
                </div>
                <div class="form-text text-danger"
                    *ngIf="clipNameControl?.invalid  && (clipNameControl?.dirty || clipNameControl?.touched)">
                    <div [hidden]="!clipNameControl?.errors?.['required']">
                        Clip name is required.
                    </div>
                    <div [hidden]="!clipNameControl?.errors?.['maxlength']">
                        Clip name max length is 50 characters.
                    </div>
                    <div [hidden]="!clipNameControl?.errors?.['pattern']">
                        Clip name must be alpha numeric.
                    </div>
                </div>
            </div>
            <div class="mb-3" *ngIf="layersFormArray.length === 0">
                <h3>Pick a background</h3>
                <div class="row">
                    <div *ngFor="let layer of userBackgrounds; let i = index" class="col-sm mb-3">
                        <app-galleryplayer [layer]="layer" (addButtonClickEvent)="addLayer($event)" [bpm]="bpm"
                            [isPlaying]="isPlaying">
                        </app-galleryplayer>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="layersFormArray.length > 0 && isAddingLayer === false">
                <div class="mb-3">
                    <h3>Clip layers</h3>
                    <ol class="list-group list-group-numbered">
                        <li *ngFor="let layerControl of layersFormArray.controls; let i = index"
                            class="list-group-item">
                            {{layerControl.value.layerName}}
                            <div class="btn-group float-end" role="group">
                                <button *ngIf="i > 1" type="button" class="btn btn-secondary" (click)="moveUp(i)"><i
                                        class="bi bi-arrow-up-circle-fill"></i> Move Up</button>
                                <button *ngIf="i !== layersFormArray.controls.length - 1 && i !== 0" type="button"
                                    class="btn btn-secondary" (click)="moveDown(i)"><i
                                        class="bi bi-arrow-down-circle-fill"></i> Move
                                    Down</button>
                                <button *ngIf="i === layersFormArray.controls.length - 1" type="button"
                                    class="btn btn-danger" (click)="removeLayer(i)"><i
                                        class="bi bi-dash-circle-fill"></i>
                                    Remove</button>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="mb-3">
                    <span [ngbTooltip]="canAddLayerTooltip()" placement="right">
                        <button type="button" class="btn btn-success" (click)="toggleAddNewLayer()"
                            [disabled]="!canAddLayer()">
                            <i class="bi bi-plus-circle-fill"></i> Add Another Layer</button>
                    </span>
                </div>
                <div class="mb-3">
                    <app-galleryplayer [clip]="editorClip" [bpm]="bpm" [isPlaying]="isPlaying" [showAdd]="false">
                        </app-galleryplayer>
                </div>
            </ng-container>
            <div class="mb-3" *ngIf="isAddingLayer === true">
                <h3>Pick a foreground</h3>
                <div class="row">
                    <div *ngFor="let layer of userForegrounds; let i = index" class="col-sm mb-3">
                        <app-galleryplayer [layer]="layer" (addButtonClickEvent)="addLayer($event)"
                            [disableFunction]="disableLayer" [disableTooltipFunction]="disableLayerTooltip" [bpm]="bpm"
                            [isPlaying]="isPlaying">
                        </app-galleryplayer>
                    </div>
                </div>
                <button type="button" class="btn btn-danger" (click)="toggleAddNewLayer()">
                    <i class="bi bi-dash-circle-fill"></i> Cancel Adding Layer</button>
            </div>
            <button type="submit" [disabled]="!clipForm.valid || saving" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger" (click)="toggleEditor()"><i class="bi bi-dash-circle-fill"></i>
                Cancel</button>
        </form>
    </ng-container>
</div>