.imageContainer{
    position:relative;
    overflow:hidden;
    margin: auto;
}

.imageContainer img,  .imageContainer div {
    position:absolute;
}

.imageContainer .watermark {
    left: 0px;
    bottom: 0px;
}

.imageContainer svg {
    display: none;
}