<div class="imageContainer" [style.width.px]="width" [style.height.px]="height"
  [style.background-color]="clip && clip.backgroundColour !== null ? '#' + clip.backgroundColour : 'black'">
  <div *ngIf="clip && clip.endBackgroundColour" [style.background-color]="'#' + clip.endBackgroundColour"
    [style.width.px]="width" [style.height.px]="height" [style.opacity]="getBackgroundFadeOpacity(fadeOut)"></div>
  <ng-container *ngIf="clip && clip.clipDisplayLayers?.length ?? 0 > 0">
    <ng-container *ngFor="let clipDisplayLayer of clip.clipDisplayLayers; let i = index">
      <ng-container *ngFor="let layerloop of getLayers(clipDisplayLayer)">
        <img [src]="storageUrl + '/' + layerloop.layerId + '/sprite.png'" [alt]="layerloop.layerId"
          [style.height.px]="height" [style.left.px]="getLeftPosition(clipDisplayLayer)"
          [style.opacity]="getLayerFadeOpacity(layerloop.isOverlay, clipDisplayLayer)"
          [style.mix-blend-mode]="layerloop.isOverlay === true ? 'normal' : 'screen'" crossorigin="anonymous"
          [style.filter]="getFilter(layerloop, clipDisplayLayer)"
          [style.transform]="scale(clipDisplayLayer)" />
      </ng-container>
      <div *ngIf="clipDisplayLayer.colour" [style.background-color]="'#' + clipDisplayLayer.colour"
        [style.width.px]="width" [style.height.px]="height"
        [style.opacity]="getBackgroundFadeOpacity(clipDisplayLayer.fadeType)"></div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="collection">
    <ng-container *ngFor="let layerloop of collectionLayers">
      <img [src]="storageUrl + '/' + layerloop.layerId + '/sprite.png'" [alt]="layerloop.layerId"
        [style.left.px]="leftPosition" [style.mix-blend-mode]="layerloop.isOverlay === true ? 'normal' : 'screen'"
        crossorigin="anonymous" [style.filter]="getFilter(layerloop, null)" [style.height.px]="height" />
    </ng-container>
  </ng-container>
</div>