<h3>Collections Search Controls</h3>
<div class="row">
    <div class="mb-3 col">
        <label for="collectionSearch" class="form-label">Search Collections</label>
        <input type="text" class="form-control" id="collectionSearch" [ngbTypeahead]="search"
            [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]="false"
            (selectItem)="selectItem($event)" [(ngModel)]="typeAheadValue" />
        <div class="form-text">Type and use the select list to search for collections.</div>
        <ng-container *ngFor="let selectedCollectionName of selectedCollectionNames">
            <button type="button" class="btn btn-outline-danger me-1"
                (click)="removeSelectedCollectionName(selectedCollectionName)">
                <i class="bi bi-x-circle-fill"></i> {{selectedCollectionName}}
            </button>
        </ng-container>
    </div>
    <div class="mb-3 col">
        <label for="collectionType" class="form-label">Collection Types</label>
        <select id="collectionType" [(ngModel)]="collectionType" class="form-control"
            [disabled]="forcedCollectionType !== null">
            <option [ngValue]="lt" *ngFor="let lt of collectionTypeList">
                {{Collectiontypes[lt]}}
            </option>
        </select>
    </div>    
</div>
<ng-container *ngIf="selectedCollections.length > 0">
    <h3>Collections Search Results</h3>
    <app-bpmcontrol (bpmEvent)="setBpm($event)" (isPlayingEvent)="setIsPlaying($event)"></app-bpmcontrol>
    <div class="row">
        <div *ngFor="let collection of selectedCollections; let i = index" class="col-sm mb-3">
            <app-galleryplayer [collection]="collection" [bpm]="bpm" [isPlaying]="isPlaying" [showAdd]="false"
                [showEdit]="showEdit" (editButtonClickCollectionEvent)="editCollection($event)"
                [showEditColour]="showEditColour" [showCancel]="showCancel" (cancelButtonClickEvent)="cancel()">
            </app-galleryplayer>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="selectedCollections.length === 0">
    <h3>{{Collectiontypes[collectionType]}} Collections</h3>
    <p *ngIf="selectedCollectionNames.length === 0">You have not searched by name so here are {{Collectiontypes[collectionType].toLowerCase()}} collections.</p>
    <p *ngIf="selectedCollectionNames.length > 0">Your search has not returned any results so here are our {{Collectiontypes[collectionType].toLowerCase()}} collections.</p>
    <app-bpmcontrol (bpmEvent)="setBpm($event)" (isPlayingEvent)="setIsPlaying($event)"></app-bpmcontrol>
    <div class="row">
        <div *ngFor="let collection of popularCollections; let i = index" class="col-sm mb-3">
            <app-galleryplayer [collection]="collection" [bpm]="bpm" [isPlaying]="isPlaying" [showAdd]="false"
                [showEdit]="showEdit" (editButtonClickCollectionEvent)="editCollection($event)"
                [showEditColour]="showEditColour" [showCancel]="showCancel" (cancelButtonClickEvent)="cancel()">
            </app-galleryplayer>
        </div>
    </div>
</ng-container>