<ul class="list-group">
    <ng-container *ngIf="license !== License.Personal">
        <ng-container *ngFor="let collection of collections">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{collection.collectionName}}</div>
                    {{License[license]}}
                    {{displayResolution(resolution)}} lifetime license
                </div>
                <h6 class="float-end">{{ collectionLicenseCost |
                    currency:"GBP":"symbol"}}
                </h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start" *ngIf="hasLicense(collection)">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{collection.collectionName}}</div>
                    {{License[license]}}
                    {{displayResolution(resolution)}} lifetime license bought
                </div>
                <h6 class="float-end text-success">-{{ collectionLicenseCost |
                    currency:"GBP":"symbol"}}
                </h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start" *ngIf="hasLicenseSubscription">
                <div class="ms-2 me-auto">{{subscriptionProduct?.subscriptionName}} subscription bought</div>
                <h6 *ngIf="!hasLicense(collection)" class="float-end text-success">-{{ collectionLicenseCost |
                    currency:"GBP":"symbol"}}
                </h6>
            </li>
        </ng-container>
        <li class="list-group-item">
            <h5 class="float-start">License Total</h5>
            <h5 class="float-end">{{licensesTotal | currency:"GBP":"symbol"}}
            </h5>
        </li>
        <li class="list-group-item" *ngIf="licensesTotal > 0">
            <ngb-alert [type]="'info'" [dismissible]="false"><i class="bi bi-info-circle-fill"></i> You
                could potentially save money on license costs with one of our <a [routerLink]="['/subscriptions']"><i
                        class="bi bi-repeat"></i> Subscriptions</a> </ngb-alert>
        </li>
    </ng-container>
    <ng-container *ngIf="resolution !== Resolution.Free">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">{{displayResolution(resolution)}} build</div>
            <h6 class="float-end">{{ buildCost |
                currency:"GBP":"symbol"}}
            </h6>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start" *ngIf="hasBuilderSubscription">
            <div class="ms-2 me-auto">{{subscriptionProduct?.subscriptionName}} subscription bought</div>
            <h6 class="float-end text-success">-{{ buildCost |
                currency:"GBP":"symbol"}}
            </h6>
        </li>
        <li class="list-group-item">
            <h5 class="float-start">Build Total</h5>
            <h5 class="float-end">{{buildTotal | currency:"GBP":"symbol"}}</h5>
        </li>
        <li class="list-group-item" *ngIf="buildTotal > 0">
            <ngb-alert [type]="'info'" [dismissible]="false"><i class="bi bi-info-circle-fill"></i> You
                could potentially save money on build costs with one of our <a [routerLink]="['/subscriptions']"><i
                        class="bi bi-repeat"></i> Subscriptions</a> </ngb-alert>
        </li>
    </ng-container>
    <li class="list-group-item">
        <h3 class="float-start">Total</h3>
        <h3 class="float-end">{{total | currency:"GBP":"symbol"}}</h3>
    </li>
</ul>