<app-breadcrumb></app-breadcrumb>
<div class="container">
    <h1 class="text-primary text-center"><i class="bi bi-music-note-beamed"></i>
        <i class="bi bi-camera-reels-fill"></i>
        <i class="bi bi-hammer"></i></h1>
    <h1 class="text-center"> Music Video Builder is dedicated to creating videos for music</h1>
    <h4>Why?</h4>
    <p>We are fed up with seeing static images on youtube and dull backgrounds on dj sets. We want to see better
        videos for music creators.</p>
    <h4>Who?</h4>
    <p>If you have a music file with constant Beats Per Minute then you can use this to create your own video.</p>
    <h4>How?</h4>
    <p>Music Video Builder works by providing content with online tools to compose videos.  The aim is that you end up owning layers that you can reuse in multiple videos.</p>
    <p class="lead">There are 3 easy steps to create your video:</p>
    <p>First you must have an account with us so you'll need to sign in using the top right button, we only need a username and email to save your work against.</p>
    <ol>
        <li>Use <a [routerLink]="['/contentBrowser']"><i class="bi bi-search"></i>Content Browser</a> to browse our content collections.  No login required for browsing.</li>
        <li>Use <a [routerLink]="['/clipBuilder']"><i class="bi bi-stack"></i>Clip Builder</a> to customise, combine and create transitions from our content collections to create your unique clips.  Login required in order to save you changes.</li>
        <li>Use <a [routerLink]="['/musicVideoBuilder']"><i class="bi bi-hammer"></i>Music Video Builder</a> to combine your clips with your music file to create your video.  Login required in order to save you changes.</li>
    </ol>
</div>