<app-breadcrumb></app-breadcrumb>
<div class="container">
    <h1 class="text-primary text-center"><i class="bi bi-music-note-beamed"></i>
        <i class="bi bi-camera-reels-fill"></i>
        <i class="bi bi-hammer"></i></h1>
    <h1 class="text-center"> Music Video Builder is dedicated to creating videos for music</h1>
    <h4>Why?</h4>
    <p>We are fed up with seeing static images on youtube and dull backgrounds on dj sets. We want to see better
        videos for music creators.</p>
    <h4>Who?</h4>
    <p>If you have a music file with constant Beats Per Minute then you can use this to create your own video.</p>
    <h4>How?</h4>
    <p>Music Video Builder works by providing content and command line arguments to use with the incredible <a
            href="https://ffmpeg.org/">FFmpeg</a>. This way you can purchase a layer and use them in many videos without
        any
        extra charges.</p>
    <p class="lead">There are 3 easy steps to create your video:</p>
    <p>First you must have an account with us so you'll need to Sign in using the top right button, we only need a username and email to save your work against.</p>
    <ol>
        <li>Use <a [routerLink]="['/layerFinder']">Layer Finder</a> to select layers you're interested in.</li>
        <li>Use <a [routerLink]="['/clipBuilder']">Clip Builder</a> to combine these layers into short clips.</li>
        <li>Use <a [routerLink]="['/musicVideoBuilder']">Music Video Builder</a> to combine your clips with your music file to
            create
            your video.</li>
    </ol>
</div>