<div class="modal-header">
    <h4 class="modal-title">Extras</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <ul class="list-group">
        <li class="list-group-item">Reverse layer</li>
        <li class="list-group-item">Flip layer horizontally</li>
        <li class="list-group-item">Flip layer vertically</li>
        <li class="list-group-item">Fade in foreground layer</li>
        <li class="list-group-item">Fade out foreground layer</li>
        <li class="list-group-item">Fade in to colour background layer</li>
        <li class="list-group-item">Fade out to colour background layer</li>
        <li class="list-group-item">Unlimited colours solid background</li>
        <li class="list-group-item">Fade out to colour solid background</li>
        <li class="list-group-item">Transition colours within layer</li>       
      </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()"><i
            class="bi bi-dash-circle-fill"></i> Close</button>
</div>
